@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

main {
    background-color: red;
    font-family: "Noto Serif";
    letter-spacing: 0.1em;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .menu-logo {
        font-size: 20px;
    }
    .page-title {
        font-size: 18px;
        
    }
    .menu-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
        .menu-item {
            font-size: 15px;
            text-align: center;
        }