@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    margin: 0px;
}
main {
    font-family: "Noto Serif";
    letter-spacing: 0.18em;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 20px 40px;
}
    .logo-title-container {
        text-align: center;
    }
        .menu-logo {
            font-size: 17px;
            text-transform: uppercase;
            letter-spacing: 0.25em;
            margin-top: 0px;
            margin-bottom: 0px;
            text-decoration: none;
            color: black;
        }
        .page-title {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.2em;
            color: #aca5a5;

            /* margin-top: 0px; */
            margin:0px;
        }
    .menu-items {
        display: none;
        }
    @media screen and (min-width: 850px) {
        .menu-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }    
    }
        .menu-item {
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
        }
        .menu-item:hover {
            color: rgb(81, 81, 81);
        }
    /* Hamburger Menu */
    .hamburger {
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 3;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: black;
        margin: 4px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before  {
        transform: rotate(-45deg) translate(-3px, 5px);
    }
    .hamburger.is-active:after  {
        transform: rotate(45deg) translate(-4px, -7px);
    }
    .hamburger.is-active .bar{
        opacity: 0;
    }
    .mobile-nav{
        position: fixed;
        top: 0;
        left: 100%;
        
        /* width: fit-content; */
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 2;
        padding-top: 120px;
        transition: 0.4s;
        background-color: #ffff;
    }
    .mobile-nav.is-active{
        left: 0;
    }

    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto 16px;
        text-align: center;
        margin: 0 auto 16px;
        padding: 12px 16px;
        text-decoration: none;
        color: black;
    }

    .mobile-nav a:hover {
        color: rgb(81, 81, 81);
    }
    @media screen and (min-width:850px) {
        .mobile-nav{
            display: none;
        }

        .hamburger{
            display: none;
        }
    }
    @media screen and (max-width:849px) {
        .top-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 20px 20px 20px;
        }
        .menu-logo {
            font-size: 13px;
        }
        .page-title {
            font-size: 11px;
        }
    }

/* Hero Image */
.hero {
    height: 90vh;
    width: 100vw;
    background-image: url("./images/iStock-629692094-2048x1365.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    max-width: 80vw;
}

.logo {
    width: 100%;
    height:100%;
}

/* MONADA */
.section-wrapper {
    margin: 0px 40px 20px 40px;
    padding-top: 100px;
}
.text-header {
    color: #1c1c1c;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Open Sans';
}
.text {
    color: black;
    font-size: 0.9em;
    font-family: 'Open Sans';
    letter-spacing: 0.02em;
    line-height: 25px;
}
.horizontal-line {
    border-bottom: 1px solid rgb(222, 222, 222);
}

/* TA MANITARIA MAS */
.ta-manitaria-mas-hero {
    height: 90vh;
    width: 100vw;
    background-image: url("./images/ta-manitaria-mas-hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.ta-manitaria-mas-hero-text {
    color: white;
    font-size: 7vw;
    font-family: "Noto Serif";
    letter-spacing: 0.1em;
    line-height: 4vw;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
/* EPIKOINWNIA/CONTACT */
.contact-section-wrapper {
    margin: 0px 40px 20px 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-container {
    text-align: center;
}
.span-italic {
    font-style: italic;
}
.contact-span {
    font-weight: 700;
}
.email-color {
    color: #3e8492;
    font-weight: 700;
}

/* FOOTER */
footer {
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    text-align: center;
    color: #b1b1b1;
    letter-spacing: 0.1em;
}